body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

#slide-menu {
    background-color: #eca049;
}

main {
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.slide-menu {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 100vh;
    margin-left: 0px;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: -277px;
    position: fixed;
    transition: 0.4s;
}

.nav-pills .nav-link.active {
    background-color: #d2691e7a;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    /* background-color: #d2691e7a; */
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0%;
}

.active-cont {
    margin-left: 280px;
}

.dropdown-toggle {
    outline: 0;
}

.scrollable {
    overflow: scroll;
}